WebApplicationToConsumeWebServices/Connected Services/ServiceReference1/WebService2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Addition">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="firstnum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="secondnum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AdditionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AdditionResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AdditionSoapIn">
    <wsdl:part name="parameters" element="tns:Addition" />
  </wsdl:message>
  <wsdl:message name="AdditionSoapOut">
    <wsdl:part name="parameters" element="tns:AdditionResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService2Soap">
    <wsdl:operation name="Addition">
      <wsdl:input message="tns:AdditionSoapIn" />
      <wsdl:output message="tns:AdditionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService2Soap" type="tns:WebService2Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Addition">
      <soap:operation soapAction="http://tempuri.org/Addition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService2Soap12" type="tns:WebService2Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Addition">
      <soap12:operation soapAction="http://tempuri.org/Addition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService2">
    <wsdl:port name="WebService2Soap" binding="tns:WebService2Soap">
      <soap:address location="http://localhost:63328/WebService2.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService2Soap12" binding="tns:WebService2Soap12">
      <soap12:address location="http://localhost:63328/WebService2.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>